@import '../../utils/styleConsts.scss';

.projects_content {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: stretch;    
    row-gap: 1rem;
    column-gap: 1rem;
}
.project_item {
    background-color: $background-color;
    text-decoration: none;
    border-radius: $border-radius;
    padding: $section-padding/2;
    color: $base-color;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    transition: all 0.1s ease-in-out;

    .project_title {
        font-size: 1rem;
    }
    .project_description {
        font-size: 1rem;
        font-weight: 400;
        margin: 0 0 1rem 0;
        color: $secondary-color;
    }
    .project_labels {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        gap: 0.5rem;
        .project_label {
            border: 1px solid $base-color;
            color: $base-color;
            padding: 0.3rem;
            font-size: 0.8rem;
            font-weight: 400;
            margin: 0 0 0.5rem 0;
            border-radius: 2em;
            
        }
        .language {
            color: $flash-color;
            border-color: $flash-color;
        }
    }
    &:hover {
        background-color: $base-color;
        .project_title {
            color: $background-color;
        }
        .project_description {
            color: $background-color;
        }

        .project_labels {
            .project_label {
                border: 1px solid $background-color;
                color: $background-color;
            }
        }
    }
}
