@import '../../utils/styleConsts.scss';


.IAandDataScienceSkills_content {
    ul {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: stretch;   
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        row-gap: 1rem;
        column-gap: 1rem;
        li {
            flex: 1 1 200px;
            transition: all 0.1s ease-in-out;
            background-color: $background-color;
            text-decoration: none;
            border-radius: $border-radius;
            padding: $section-padding/2;
            color: $base-color;
            font-size: 1rem;
            font-weight: 600;
        }
        
    }
}