@import "../../utils/styleConsts.scss";

.classic-header {
  background-color: $header-background-color;
  padding: $section-padding;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.classic-header h1 {
  color: $base-color;
  font-size: 2.5rem;
}

.classic-header h2 {
  color: $secondary-color;
}
