@import './utils/styleConsts.scss';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $app-background-color;
  color: $secondary-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: left;
  justify-items: center;

  width: 70vw;
  margin: 100px 20px;
  gap: 50px;
}

.resume_section {
  h2 {
    color: $base-color;
    font-size: 2rem;
    font-weight: 600;
  }
}

.resume_section_content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: left;
  justify-items: center;

  padding: $section-padding;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $background-color;
}

@media screen and (max-width: 768px) {
  #content {
    width: 90vw;
    margin: 20px 20px;
  }
}