@import './utils/styleConsts.scss';

.App {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  text-align: left;
  background-image: $app-background-color;
}

#content {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: left;
  justify-items: center;
  padding: 0 50px;
  gap: 50px;
  overflow-y: scroll;
}

.resume_section {
  h2 {
    color: $base-color;
    font-size: 2rem;
    font-weight: 600;
  }
}

.resume_section_content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: left;
  justify-items: center;

  padding: $section-padding;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $background-color;
}